<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301879
  -->
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog autoReload="true">
    <variable name="logDirectory" value="${basedir}/logs/${shortdate}"/>
    <targets>
      <target name="fileLogTrace" type="File" fileName="${logDirectory}/trace.txt" encoding="UTF-8"/>
      <target name="fileLogDebug" type="File" fileName="${logDirectory}/debug.txt" encoding="UTF-8"/>
      <target name="fileLogInfo" type="File" fileName="${logDirectory}/info.txt" encoding="UTF-8"/>
      <target name="fileLogErrors" type="File" fileName="${logDirectory}/errors.txt" encoding="UTF-8"/>
      <target name="fileLogWarnings" type="File" fileName="${logDirectory}/warn.txt" encoding="UTF-8"/>
      <target name="fileLogAddCrosses" type="File" fileName="${logDirectory}/crosses.txt" encoding="UTF-8"/>
      <target name="integration-febest" type="File" fileName="${logDirectory}/provider-febest.txt" encoding="UTF-8"/>
    </targets>
    <rules>
      <logger name="*" level="Trace" writeTo="fileLogTrace"/>
      <logger name="*" level="Debug" writeTo="fileLogDebug"/>
      <logger name="*" level="Info" writeTo="fileLogInfo"/>
      <logger name="*" level="Error" writeTo="fileLogErrors"/>
      <logger name="*" level="Warn" writeTo="fileLogWarnings"/>
    </rules>
  </nlog>


  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <!--  Firebase Setting -->
    <add key="Authorization" value="AAAAQtgf1_M:APA91bG3GTwsxMmRSyjcodQ0FDFSzCKH-Un8lQ879y9-dgQ2Z-phrqDQHHNR4oxJOYGdws0TV0KbfNU4jejn56fpSH8TXaUDXeh1hnqc8BiR7F9yVexhl-vBI7nG_EbNCbLF-zb6MiAU" />
    <add key="Sender" value="287093807091" />
    <add key="priority" value="high" />
    <!--###########################-->
    
  </appSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.7.2" />
    <httpRuntime targetFramework="4.7.2" />
  </system.web>
  <system.webServer>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Antlr3.Runtime" publicKeyToken="eb42632606e9261f" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.2" newVersion="3.5.0.2" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-11.0.0.0" newVersion="11.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.6.5135.21930" newVersion="1.6.5135.21930" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.7.0" newVersion="5.2.7.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=2.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:default /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
</configuration>
